body {
  content-visibility: auto;
contain-intrinsic-size: 1000px;
    background-color: #F6FFDE;
}


.wrapper {
  margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
  max-width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.title {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 6%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  margin-top: 1em;
  padding: 0.6em 1.2em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  button {
    background-color: #f9f9f9;
  }
}
